<h1>Hi {{currentUser.username}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All registered users:</h3>
<!--ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
<ul-->
<h2>
    <button (click)="authenticateBuyer() "> Buyer</button>
    <button (click)="authenticateSeller() "> Seller</button>
    <button (click)="authenticateCommon() "> Common</button>
</h2>
<div *ngIf="isClicked">
    <div *ngIf="isError == true" class = "text-danger">You are not authorized to access to this page. </div>
    <div *ngIf="isError == false">You are authorized to access this page.</div>
</div>